/**
  * ===========================================================
  * LOCATION mobile
  * ===========================================================
  */
.location {
  height: 350px;
  position: relative;
}

.location__map-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;
  z-index: 1000;

  &--nojs {
    display: none;
  }
}

.location__map {
  display: block;
}

.location__mark {
  .absolute-top-left(161px, 146px, 27px, 27px);

  z-index: 100;
}

/**
  * ===========================================================
  * LOCATION tablet
  * ===========================================================
*/

@media (min-width: @tablet-max-width) {
  .location__map {
    width: 100%;
    height: 350px;
  }

  .location__mark {
    .absolute-top-left(163px, 370px, 27px, 27px);
    z-index: 100;
  }
}

/**
  * ===========================================================
  * LOCATION desktop
  * ===========================================================
*/

@media (min-width: @desktop-max-width) {
  .location__mark {
    .absolute-top-left(162px, 586px, 27px, 27px);
    z-index: 100;
  }
}
