/**
  * ===========================================================
  * LOCATION mobile
  * ===========================================================
  */
.location {
  height: 350px;
  position: relative;
}


.location__map-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 350px;

  border: 0;
  frameborder: 0;
  z-index: 1000;

  &--nojs {
    display: none;
  }
}

.location__map-wrap {
  width: 320px;
  height: auto;
  margin: 0 auto;
  position: relative;
}

.location__map {
  padding: 0;
  max-width: 1200px;
  height: auto;
  position: relative;

  z-index: 0;
}

.location__mark {
  .absolute-top-left(161px, 146px, 27px, 27px);

  z-index: 100;
}

/**
  * ===========================================================
  * LOCATION tablet
  * ===========================================================
*/

@media (min-width: @tablet-max-width) {
  .location__map-wrap {
    width: 758px;
    height: auto;
    margin: 0 auto;
  }

  .location__mark {
    .absolute-top-left(163px, 370px, 27px, 27px);
    z-index: 100;
  }
}

/**
  * ===========================================================
  * LOCATION desktop
  * ===========================================================
*/

@media (min-width: @desktop-max-width) {
  .location__map-wrap {
    width: 1200px;
    height: auto;
    margin: 0 auto;
  }

  .location__mark {
    .absolute-top-left(162px, 586px, 27px, 27px);
    z-index: 100;
  }
}
