/**
  * ===========================================================
  * MAP SECTION
  * ===========================================================
  */
.location {
  position: relative;

  height: 350px;
}

.location__map {
  max-width: 100%;
  height: auto;

  z-index: 0;
}
