/**
  * ===========================================================
  * PAGE INTRO
  * ===========================================================
  */
.page-intro {
  position: relative;
  padding: 20px 25px;
  padding-bottom: 25px;

  background-color: #ffffff;

  &--tiny {
    padding: 17px 20px;
    margin-bottom: -1px;
  }
}

.page-intro__header {
  margin: 20px 0;

  font-size: 18px;
  line-height: 26px;
  font-weight: bold;

  text-align: center;
  text-transform: uppercase;
}

.page-intro__content {
  margin: 28px 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 26px;

  text-align: center;
  text-transform: uppercase;

  &--tiny {
    margin-bottom: 2px;
    padding: 0;

    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }
}

/**
  * ===========================================================
  * PAGE INTRO tablet
  * ===========================================================
*/

@media (min-width: @tablet-width) {
  .page-intro {
    padding: 28px 139px;
    padding-bottom: 40px;

    &--decorated::after {
      display: none;
    }
  }

  .page-intro__header {
    padding: 0 10px;
    margin-top: 22px;

    font-size: 21px;
    line-height: 26px;
    font-weight: bold;

    &--large {
      margin-top: 47px;

      font-size: 30px;
      line-height: 26px;
    }
  }

  .page-intro__content {
    margin-top: 30px;
    margin-bottom: 11px;

    &--tiny {
      padding: 0 80px;
    }
  }
}

/**
    * ===========================================================
    * PAGE INTRO desktop
    * ===========================================================
*/

@media (min-width: @desktop-width) {
  .page-intro {
    padding: 30px 345px;
    padding-bottom: 38px;

    &--tiny {
      padding-bottom: 10px;
    }
  }

  .page-intro__header {
    padding: 0 23px;

    &--large {
      margin-top: 85px;
    }
  }

  .page-intro__content {
    &--tiny {
      margin-bottom: 33px;
      padding: 0 33px;
      padding-top: 2px;
    }
  }
}
