/**
  * ===========================================================
  * PAGE FOOTER
  * ===========================================================
  */
.page-footer {
  padding: 18px 15px;

  max-width: @page-max-width;
  margin: 0 auto;

  font-family: "PTSans", "Arial", sans-serif;
  font-weight: normal;

  background-color: #fefefe;
  text-align: center;
}

.page-footer__header {
  margin-bottom: 32px;

  font-size: 21px;
  line-height: 26px;

  text-transform: uppercase;
}

.page-footer__copyright {
  position: relative;

  margin: 0 auto;
  margin-top: 36px;

  min-width: 128px;

  font-size: 14px;
  line-height: 26px;

  text-transform: uppercase;
  text-align: center;
}

.page-footer__copyright-link {
  display: inline-block;
  position: relative;

  padding-top: 5px;
  padding-bottom: 10px;
  padding-right: 40px;

  color: #000000;
  text-decoration: none;
}
