/**
  * ===========================================================
  * SOCIAL LONKS SECTION
  * ===========================================================
  */
.social-links {
  font-size: 0;
}

.social-link {
  position: relative;

  display: inline-block;

  margin: 0 3px;

  width: 46px;
  height: 48px;

  font-size: 0;

  background-color: #81b3d2;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}
